header.header
    h1.header__title Документы

    .header__buttons
        button.btn.btn--round.header__btn-round(type="button")
            +icon("i_bookmark")

        button.btn(type="button")
            +icon("i_plus")
            | Новый тип

        button.btn(type="button")
            +icon("i_plus")
            | Новый документ
