.search
    form.search__form(action="#")
        +icon('i_search').search__form-icon
        input.search__form-control(type="text" placeholder="Поиск")
        button.btn.search__form-reset(type="button")
            +icon("i_x")
